/* body {
    /* font-family:  Arial, Helvetica, sans-serif   */
/* } */

h1 {
    color: white;
    background-image: linear-gradient(to right, rgb(0, 119, 255) 0%, rgb(1, 1, 82) 100%);
    text-align: center;
    margin: auto;
    padding: 1%;
}

/* Need to add blue color to the button */
/* Or check via Bootstrap Documentation about styling options */
/* Search and history buttons should be separated by line */
/* #search-button {

}; */

/* Need to add grey colour and additional styling to buttons */
/* Check Bootstrap Documentation for it */
/* #history {

}; */

/* Add styles to today section  */
/* Border around the section */
/* City, Date and Icon Bold, Font-size larger than the rest */
/* Text to the left-side  */
/* Spacing in-between rows  */
/* #today {

}; */

/* Add styles to forecast section  */
/* Date */
/* Weather Icon */
/* Weather Data */
/* Font-color: white */
/* 5 boxes with dark bluish grey color */
#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.forecast-box {
    background-color: rgb(26, 64, 115);
    color:white;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }