/* body {
    /* font-family:  Arial, Helvetica, sans-serif   */
/* } */

h1 {
    color: white;
    background-image: linear-gradient(to right, rgb(0, 119, 255) 0%, rgb(1, 1, 82) 100%);
    text-align: center;
    margin: auto;
    padding: 1%;
}

aside h2 {
    padding-left: 2%;
}
/* Search bar and search history buttons */
aside {
    float: left;
    width: 20%;
  }
  
  /* Today's and forecast data */
  section {
    float: right;
    width: 75%;
  }

  #history {
    display: flex;
    flex-direction: column;
  }
  
#search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    
}

  .search-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:rgb(66, 152, 232);
    color: white;
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    padding-left: 40%;
    padding-right: 40%;
    margin-top: 5%;
  }

 /* Search history button */
.search-history-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    padding-left: 40%;
    padding-right: 40%;
  }
  
  /* Search history button:hover */
  .search-history-button:hover {
    background-color: #eee;
  }
  
  /* Search history button:active */
  .search-history-button:active {
    background-color: #ccc;
  }


/* Today's style  */

#today {
    border: none;
  }
  
  #today.with-border {
    border: 2px solid black; 
    padding-left: 2%;
    margin-top: 2%;
  }

/* Forecast style  */
#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

.forecast-box {
    background-color: rgb(26, 64, 115);
    color:white;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }